<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Online</title>
</head>

<body>
    <h1>welcome to abc Online.....!!!!!</h1>
    <div>
        <a href="/register">register</a><br>
        <a href="/login">login</a>
        <a href="/job">jobs</a>
        <a href="/student_profile">student profile</a>
        <a href="/student_classroom">student classroom</a>
        <a href="/job_portal">job portal</a>
        <a href="/student_company_profile">student company profile</a>
        <a href="/add_job">add job</a>
        <a href="/view_application">view applications</a>
        <a href="/post_job">post status</a>
        <a href="/post_preview">post preview</a>
        <a href="/add_link">add link</a>
        <a href="/classroom_preview">classroom preview</a>
        <a href="/company_student_profile">company student profile</a>
        <a href="/approve_user">approve user</a>
        <a href="/approve_job   q">approve jobs</a>
    </div>
</body>

</html>